<div class="row" id="forms">
	<div class="col-sm-4 well animated slideInLeft">
		<h3 align="center">Sending to:</h3>
		<%= form_for @label do |f|%>
			<%= f.text_field :name, placeholder: "First and Last Name", autofocus: true, class:"form-control", required: true %>
			<%= f.text_field :street1, placeholder: "Street Address", class:"form-control", required: true %>
			<%= f.text_field :street2, placeholder: "Apt, unit, etc.", class:"form-control" %>
			<%= f.text_field :city, placeholder: "City", class:"form-control", required: true %>
			<%= f.text_field :state, placeholder: "State", class:"form-control", required: true %>
			<%= f.text_field :zip, placeholder: "Zip Code", class:"form-control", required: true %>
			<%= f.text_field :country, placeholder: "Country", class:"form-control", required: true %>
			<%= f.text_field :phone, placeholder: "Phone Number", class:"form-control", required: true %>
	</div>
	

</div>

<div class="row animated slideInUp" align="center">
		<%= f.submit "submit", class: "btn btn-info btn-large" %>
	<% end %>
</div> <!--button -->